body { background: #61ddc5; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 26px; display: flex; }
.block-cache-0 { color: #6da304; font-size: 20px; margin-bottom: 5px; }
.block-sms-1 { color: #dfcf78; font-size: 21px; margin-bottom: 5px; }
.block-invoice-2 { color: #68fbd; font-size: 21px; margin-bottom: 5px; }
.block-session-3 { color: #9e12c1; font-size: 12px; margin-bottom: 5px; }
.block-notify-4 { color: #204ad5; font-size: 21px; margin-bottom: 5px; }